
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Customers</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Customers</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>