
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <h2>Movies</h2>
    <div class="panel panel-default">
        <div class="panel-heading">Movies</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>